@use "../base/" as b;
@use "../variables/" as v;
@use "../functions/" as f;

// Button sizes
$base-vertical-padding: calc(v.$spacing-1);
$base-horizontal-padding: calc(#{$base-vertical-padding} * 3);
$medium-vertical-padding: calc(#{$base-vertical-padding} / 1.5);
$medium-horizontal-padding: calc(#{$medium-vertical-padding} * 3);

// Button colors
$button-font-color: v.$primary-color;
$primary-button-color: v.$accent-color;

.button {
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  outline: none;
  transition: 0.3s ease;
  font-weight: 600;
  color: $button-font-color;
  box-sizing: border-box;

  // Button variations
  &--normal {
    border-radius: $base-vertical-padding;
  }

  &--circle {
    border-radius: 50%;
  }

  &--primary {
    background-color: $primary-button-color;
    border: f.rem(2) solid v.$accent-color;
  }

  &--secondary {
    background-color: transparent;
    border: f.rem(2) solid v.$accent-color;
    color: v.$accent-color;

    &:hover {
      background: v.$accent-color;
      color: v.$primary-color;
    }
  }

  &--tertiary {
    background: transparent;
    color: v.$accent-color;
  }

  &--fortiary {
    background: transparent;
    color: v.$text-color;
    border: f.rem(2) solid v.$border-color;

    &:hover {
      background: v.$accent-color;
      border-color: v.$accent-color;
      color: v.$primary-color;
    }
  }

  // Button sizes
  &--big {
    padding: $base-vertical-padding $base-horizontal-padding;
  }

  &--medium {
    padding: $medium-vertical-padding $medium-horizontal-padding;
  }

  &--small {
    padding: calc(#{$medium-vertical-padding} / 1);
    line-height: 1;
  }

  // Button states
  &:hover {
    // filter: brightness(85%);
  }

  &:active {
    transform: scale(0.97);
  }

  &:focus {
    outline: none;
  }
}
