@use "../base/" as b;
@use "../variables/" as v;
@use "../functions/" as f;

$button-color: #3498db;
$button-hover-color: #2980b9;

$padding-top: calc(b.$h1 / 3.4);
$padding-bottom: calc(b.$h1 / 3.4);
$padding-button: calc($padding-bottom * 3);


// medium button
$medium-padding-top: calc($padding-top / 1.5);
$medium-padding-bottom: calc($padding-bottom / 1.5);
$medium-padding-button: calc($medium-padding-bottom * 3);


$button-font-color: v.$primary-color;
$primary-button-color: v.$accent-color;

.button {
  display: inline-block;
  border: none;
  padding: $padding-top $padding-button $padding-bottom $padding-button;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  outline: none;
  transition: 0.3s ease;
  font-weight: 600;
  color: v.$primary-color;
  box-sizing: border-box;
  border-radius: $padding-top;

  &:hover {
    // filter: brightness(85%);
  }

  &:focus {
    outline: none;
  }

  &--primary {
    background-color: $primary-button-color;
    border: f.rem(2) solid v.$accent-color;
  }

  &--secondary {
    background-color: transparent;
    border: f.rem(2) solid v.$accent-color;
    color: v.$accent-color;

    &:hover {
      background: v.$accent-color;
      color: v.$primary-color;
    }
  }

  &--tertiary {
    background: transparent;
    color: v.$accent-color;
  }

  &--medium {
    padding: $medium-padding-top $medium-padding-button $medium-padding-bottom $medium-padding-button;
  }

  &--small {
    padding: 0;
  }
}
