@use "../variables/" as v;
@use "../mixins/" as m;

.title {
  &--center-text {
    @include m.flex-container(center, center);
    text-align: center;
    flex-direction: column;
  }

  margin-bottom: v.$spacing-4;
}
