@use "../functions/" as f;

$base-spacing: f.rem(28);
$spacing-1: f.get-spacing(1);
$spacing-2: f.get-spacing(2);
$spacing-3: f.get-spacing(3);
$spacing-4: f.get-spacing(4);
$spacing-5: f.get-spacing(5);
$spacing-6: f.get-spacing(6);
$spacing-7: f.get-spacing(7);
$spacing-8: f.get-spacing(8);
$spacing-9: f.get-spacing(9);
$spacing-10: f.get-spacing(10);
$gap-size: $spacing-8;
$padding-size: $spacing-3;
