@use "../variables/" as v;
@use "../mixins/" as m;
@use "../base/" as b;

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: v.$primary-color;
  padding-block: v.$spacing-2;

  &__container,
  &__menu,
  &__cart-and-auth {
    @include m.flex-container(space-between, center);
  }

  &__menu,
  &__cart-and-auth,
  &__logo {
    width: auto;
  }

  &__hamburger-menu {
    display: none;
  }

  &__menu {
    gap: v.$spacing-2;

    a {
      text-decoration: none;
      line-height: 0;
      color: v.$text-color;
      transition: .3s;
    }

    a:hover {
      color: v.$accent-color;
    }
  }

  &__cart-and-auth {
    .button {
      box-sizing: border-box;
    }
  }
}
