@use "../variables/" as v;
@use "../mixins/" as m;

.navbar {
  background: v.$primary-color;
  padding-block: v.$double-base-size;

  &__menu {
    @include m.flex-container(space-between, center);
    gap: 2rem;

    a {
      text-decoration: none;
      color: v.$text-color;
    }
  }

}
