@use "../variables/" as v;
@use "../mixins/" as m;

.our-coffee {
  padding: v.$padding-size;
  background: v.$secondary-color;

  &__container {
    @include m.grid-container(space-between, center);
    grid-template-columns: .4fr .6fr;

    gap: v.$gap-size;
  }

  &__coffee-list {
    @include m.flex-container(end, center);
    gap: v.$spacing-1;
    width: fit-content;
    margin-block: v.$spacing-3;
    list-style: disc;
    gap: v.$spacing-2;

    li:first-child {
      list-style: none;
    }
  }

  &__image {
    width: 100%;
    border: v.$border;
    overflow: hidden;
    aspect-ratio: 3 / 4;

    img {
      object-fit: cover;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }
  }
}
