@use "../variables/" as v;
@use "../mixins/" as m;

.our-coffee {
  padding-block: v.$padding-size;
  background: v.$secondary-color;

  &__container {
    @include m.grid-container(space-between, center);
    grid-template-columns: v.$smaller-column-size v.$bigger-column-size;

    column-gap: v.$gap-size;
  }

  &__title {
    margin-bottom: 0;
  }

  &__coffee-list {
    @include m.flex-container(end, center);
    gap: v.$spacing-1;
    width: fit-content;
    margin-block: v.$spacing-2;
    list-style: disc;
    gap: v.$spacing-2;

    li:first-child {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  &__info {
    width: 100%;
  }

  &__image {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 3 / 4;
      box-shadow: v.$shadow;

    img {
      object-fit: cover;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }
  }
}
