@use "../variables/" as v;
@use "../functions/" as f;
@use "../mixins/" as m;

.container {
  width: min(100% - v.$spacing-2, v.$max-width);
  margin-inline: auto;
}

section:not(.hero) {
  margin-bottom: v.$spacing-4;
}

.primary-text {
  color: v.$accent-color;
}

.primary-bg {
  background-color: v.$accent-color;
  color: v.$primary-color;
}
