@use "../variables/" as v;
@use "../functions/" as f;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$golden-ratio: 1.25;
$body-text-min: f.rem(16);
$body-text-prefered: 1.8vw;
$body-text-max: f.rem(18);
$body-text: clamp($body-text-min, $body-text-prefered, $body-text-max);
$small-text: calc($body-text);
$h6: calc($body-text);
$h5: calc($h6 * $golden-ratio);
$h4: calc($h5 * $golden-ratio);
$h3: calc($h4 * $golden-ratio);
$h2: calc($h3 * $golden-ratio);
$h1: calc($h2 * $golden-ratio);

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: v.$heading-font;
  font-weight: 600;
}

h1 {
  max-width: 16ch;
}

h2 {
  max-width: 20ch;
  margin-bottom: v.$spacing-1;
}

h1,
h6 {
  margin-bottom: v.$spacing-1;
}

h1,
h2,
h3 {
  line-height: v.$heading-line-height;
}

h4,
h5,
h6,
p,
a {
  line-height: 1.5;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}

p,
a,
button,
.small-text {
  font-family: v.$body-font;
  font-size: $body-text;
  max-width: 70ch;
  font-weight: 500;
  line-height: 1.5;
  color: v.$text-color;
}

.star {
  color: v.$accent-color;
  font-size: $h5;
}

.small-text {
  font-size: $small-text;
}
